@font-face {
  font-family: 'Twitcher';
  src: url(@/assets/fonts/twitcher.woff2) format('woff2');
  font-display: swap;
}

:root {
  --page-width: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

p {
  user-select: text;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #EEE;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  padding: 1em;
}

h1,
h2 {
  font-family: 'Twitcher', 'Verdana', sans-serif;
  margin: 0;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #EEE;
  -webkit-text-stroke: 1px #222;
  text-shadow: -2px 2px 5px rgba(204, 204, 204, 1);
  /*
   * TODO: -webkit-text-stroke @media feature query
  */
}

#app {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: var(--page-width);
}

#app > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 992px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}